.introducao {
  align-items: center;
}

.imagem-perfil {
  width: 80%;
}

.posicao-titulo {
  margin-bottom: 35px;
}

.introducao h1 {
  font-size: 3.7rem;
  line-height: 1.125;
  margin-bottom: 50px;
}

.listras-verdes {
  position: relative;
  width: 100px;
  top: 80px;
  left: -32px;
  z-index: -1;
}

.rio {
  font-size: 1.3rem;
  font-weight: 400;
  color: #525252;
}

/* @media (width <= 800px) {
    .introducao h1 {
        font-size: 2rem;
        margin: 0;
      }
} */

@media (width <= 900px) {
  .introducao h1 {
    font-size: 2.5rem;
    margin: 0 auto;
  }

  /* .posicao-titulo {
    position: relative;
    top: -30px;
  } */

  .listras-verdes {
    width: 70px;
    top: 55px;
    left: -22px;
  }
}

@media (width <= 600px) {
  .introducao {
    grid-template-columns: 1fr;
    gap: 5px;
    width: fit-content;
    padding: 0;
  }

  .imagem-perfil {
    width: 220px;
    margin: 55px auto 0 auto;
  }

  .introducao h1 {
    font-size: 2rem;
    margin: 0 auto;
  }

  .listras-verdes {
    width: 60px;
    top: 45px;
    left: -18px;
  }

  /* .posicao-titulo {
    position: relative;
    top: 40px;
  } */
}
